 body{
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: #aee3f8;
 }

.button{
    text-align:center;
    margin:10px;
    padding: 10px 20px;
    border-radius:50%;
    background-color: #1cb0ea;}


.logo{

    width : 150px;
    height : 150px;
    
}
.hidden { display: none; }
.center-text { text-align: center;
 }
 label {
    width:100px;
    text-align: right;
    margin-right:10px;
    font-weight:bold;

 }
 input{
    flex:1;
    padding:1 px;
    border:1px solid ;
    
 }
 .hidden{
align-items:center;
margin:10px;
 }
 .row{
    display:flex;
    align-items: center;
    margin-bottom: 10px 0
 }